.vran-container {
    background-color: gainsboro;
}

.vran-header {
    text-align: center;
    font-size: xxx-large;
    font-weight: 600;
    background-color: cadetblue;
    color: gainsboro;
    height: 70px;
    width: 100%;
}

.vran-table-page-container {
    height: 100%;
    width: 100%;
    background-color: gainsboro;
    overflow: disable;
    display: flex;
    flex-direction: column;
}

.vran-table-container-outer {
    height: 100%;
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
}

.vran-table-container-inner {
    height: 100%;
    width: 100%;
}

.vran-body {
    width: 100%;
    height: 100%;
    flex-grow: 1;
}

.vran-table-page-header {
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.vran-table-page-header > button {
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: 120px;
    text-align: center;
    color: whitesmoke;
    background-color: cadetblue;
    border-radius: 8px;
    border-width: 0px;
}
.vran-table-page-header > button:disabled {
    background-color: #5f9ea044;
}
.vran-table-page-body {
    display: block;
    flex-grow: 1;
}

.shimmer {
    display: inline-block;
    mask: linear-gradient(
            -60deg,
            #0002 0%,
            #0006 20%,
            #0002 40%,
            #0006 60%,
            #0002 80%,
            #0006 100%
        )
        right/600% 100%;
    animation: shimmer 3s infinite;
    animation-timing-function: linear;
    background-color: gray;
    width: 100%;
    height: 100%;
}

@keyframes shimmer {
    100% {
        mask-position: left;
    }
}

.vran-column-add-button {
    width: 40px;
    display: flex;
    flex-direction: column;
    background-color: #f7f7f8;
    height: 100%;
}
.vran-column-add-button > button {
    border: none;
    outline: none;
    height: 37px;
    width: 40px;
    font-size: 20px;
    background-color: #f7f7f8;
    color: #000000;
    border-bottom: 1px solid #e1e2e5;
    transition: background-color 200ms;
    cursor: pointer;
}
.vran-column-add-button > button:hover {
    background-color: #efeff1;
}
.vran-column-menu-container,
.vran-header-menu-container {
    padding: 0px 0;
    border-radius: 6px;
    box-shadow: 0px 0px 1px rgba(62, 65, 86, 0.7), 0px 6px 12px rgba(62, 65, 86, 0.35);
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    background-color: gainsboro;
    font-size: 13px;
    font-weight: 600;
}

span.indent {
    margin-left: 10px;
    margin-right: 10px;
}
span.icon {
    margin-right: 5px;
}
.form-label {
    width: 100%;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.form-label > input {
    vertical-align: top;
    border-radius: 6px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.125);
    width: 100%;
    height: 32px;
    font-size: 24px;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

form-control {
    width: 100%;
}

.form-label input:focus {
    outline: rgba(0, 0, 0, 0.125) solid 1px;
}

div#layers > div > .container {
    padding: 8px 8px;
}

.overflow-y-auto {
    overflow-y: auto;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
    /* border-bottom: 1px solid #f8f9fa !important; */
    /* cursor: pointer; */
}
.nav-link {
    cursor: pointer;
}

.nav-link.active {
    border-bottom: 1px solid #f8f9fa !important;
}
.nav-tabs {
    /* border-bottom: none !important; */
}
.no-wrap {
    display: inline-block;
    white-space: pre;
}

.text-transparent {
    color: transparent;
}
